#title {
  background: blue;
  color: white;
  position: absolute;
  
  
}

#padding {
  border: red;
  padding: 70px;
}

#borderradius {
  border-style: double;
  border-width: 10px;
  border-radius: 50px;
  border-color: red;

}
